.add-member{
  padding: 30px 35px;
  background: #EDF1F5;
  width: calc(100vw-336px);
  min-height: 80vh;
  min-width: 650px;
}

.add-member-top h1{
  font-size: 2vw;
}

.add-member-middle{
  margin-top: 70px;
  display: grid;
  grid-template-columns: 37vw 37vw;
  gap: 30px;
  align-items: center;
}

.add-member-middle input{
  width: 30vw;
  padding: 10px 2px;
  margin-bottom: 0px 10px 20px 0px;
  background:#E3EBF3;
  border: 1px solid rgb(174, 173, 171);
  outline: none;
}

.drop-down{
  width: 30.8vw;
  padding: 10px 2px;
  margin-bottom: 20px;
  background:#E3EBF3;
  border: 1px solid rgb(174, 173, 171);
  outline: none;
}

.add-member-middle p{
  margin-bottom: 8px;
  font-weight: bold;
  letter-spacing: 0.1px;
  color: rgb(75, 71, 71);
}

.save-btn{
  margin-top: 40px;
  width: 130px;
  padding: 10px 40px;
  background: #2ED47A;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 3px;
}

.save-btn:hover{
  background-color: #39ec8a;
}