.dashboard{
  padding: 30px 35px;
  background: #EDF1F5;
  width: calc(100vw-344px);
  min-height: 100vh;
  min-width: 650px;
}

.dashboard-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-top h1{
  font-size: 2.2vw;
}

.dashboard-top button{
  width: 160px;
  height: 46px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
}

.dashboard-top button:hover{
  background-color: rgb(255, 138, 49);
}

.dashboard-middle{
  display: flex;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.status{
  padding: 10px 0px;
  width: 500px;
}

.status-top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid  #FAE033; 
  padding: 10px 10px;
  height: 150px;
  gap: 10px;
}

.count{
  display: flex;
  gap: 30px;
}

.count p{
  font-size: 1.2vw;
  font-weight: 600;
  color: rgb(144, 98, 98);
  display: flex;
  align-items: center;
}

.status-bottom{
  height:27px;
  background-color:rgba(232, 253, 48, 0.734);
  display: flex;
  align-items: center;
  justify-content: center;
}

.outer-progress{
  height: 10px;
  background: #385682;
  width: 15vw;
  border-radius: 5px;
}

.inner-progress{
  height: 10px;
  background: #5297FF;
  width: 12vw;
  border-radius: 5px;
}

.search-and-member-container{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.search{
  width: 450px;
  padding: 10px 0px 10px 10px;
}

.filter{
  padding: 0px 10px;
}

.dashboard-bottom{
  margin-top: 20px;
  background-color: #EDF1F5;
  width: 100%;
  display: flex;
  column-gap: 100px;
}


.dashboard-bottom table td,th{
  margin: auto;
  padding: 20px;
  font-size: 1.2vw;
  height: 1vh;
  text-align: center;
}


.dashboard-bottom table{
  background-color: white;
  
}

.btn-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
}

.dashboard-bottom .search-btn{
  width: 170px;
  height: 46px;
  background: #0b0d10;
  border: none;
  color: white;
  cursor: pointer;
}

.dashboard-bottom .search-btn:hover{
  background: rgb(58, 47, 47);
}

.dashboard-bottom .distribute-btn{
  width: 150px;
  height: 46px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
}






