.edit-quantity{
  padding: 30px 35px;
  background: #EDF1F5;
  width: calc(100vw-256px);
  height: 100vh;
}

.edit-quantity-top h1{
  font-size: 2vw;
}

.edit-quantity-middle{
  margin-top: 55px;
}

.edit-quantity-groups{
  display: flex;
  gap: 20px;
}

.edit-quantity-group{
  padding: 10px 30px;
  border: solid rgb(161, 130, 130) 1px;
  border-radius: 5px;
  font-size: 1vw;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #efe9e9;
  cursor: pointer;
}

.edit-quantity-group-active{
  padding: 10px 30px;
  border: solid rgb(161, 130, 130) 1px;
  border-radius: 5px;
  font-size: 1vw;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
  background: linear-gradient(0deg, #009099, #009099),
  linear-gradient(0deg, #1D242E, #1D242E);
}

.edit-quantity-bottom {
  margin-top: 30px;
}

.edit-quantity-bottom input{
  width: 400px;
  padding: 10px 2px;
  margin-bottom: 20px;
  background:#E3EBF3;
  border: 1px solid rgb(174, 173, 171);
  outline: none;
}

.edit-quantity-bottom button{
  margin-top: 20px;
  width: 130px;
  padding: 10px 40px;
  background: #2ED47A;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  display: block;
}

.edit-quantity-bottom button:hover{
  background-color: #33ea86;
}