.goods{
  padding: 30px 35px;
  background: #EDF1F5;
  width: calc(100vw-344px);
  height: 100vh;
  min-width: 650px;
}

.goods-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods-top h1{
  font-size: 2.2vw;
}

.goods-top button{
  width: 160px;
  height: 46px;
  background-color: rgb(28, 141, 240);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.goods-top button:hover{
  background-color: rgb(42, 155, 255);
}


.goods-middle table{
  border: 1px solid #FAE033;
}

.goods-oil-table{
  margin-bottom: 50px;
}

.goods-oil-table .oil-th{
  margin: auto;
  padding: 15px 5vw;
  font-size: 1vw;
  height: 1vh;
  font-weight: 600;
}

.goods-sugar-table .sugar-th{
  margin: auto;
  padding: 15px 5vw;
  font-size: 1vw;
  height: 1vh;
  font-weight: 600;
}
.sugar-td , .oil-td{
  font-weight: 500;
  font-size: 1vw;
}