
.login{
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  min-width: 100vw;
  height: 100vh;
  background-color: #4158D0;
  background-color: #F4D03F;
  background-image: url('/src/components/css/shemachochImage.jpg');
  background-repeat: no-repeat;
  background-position:0px 0px;
  background-size: cover;
  max-height: 750px;
}

.login-main-container{
  padding: 20px 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 85px;
  /* background-color: transparent; */
  backdrop-filter: blur(10px);
 background-color: rgba(93, 0, 0, 0.4);
  height: 73%;
  box-shadow: 2px 2px 1px rgba(242, 243, 240, 0.8), -2px -2px 1px rgba(246, 246, 245, 0.8);
}

.login-logo{
  width: 20px;
  height: 20px;
}

.logo-and-detail{
  display: flex;
  gap: 10px;
  font-weight: bold;
  align-items: center;
  font-size: 18px;
}

.paragraph{
  font-weight: bold;
  font-size: 22px;
  margin: 70px 0px 50px 35px;
  color: rgb(243, 243, 243);
}

.login-inputs{
  width: 295px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(13, 12, 12);
  outline: none;
  padding: 8px 0px 8px 5px;
  margin:10px 0px 30px 0px;
  background-color: transparent;
  color: rgb(3, 3, 3);
  font-size: 17px;
  font-weight: bold;
  color: white;
}

.phoneNumber-component{
  margin: 20px 0px 40px 0px;
}


.login-inputs-phoneNumber{
  width: 100px;
}

.login-p{
  font-size: 18px;
  font-weight: bold;
}

.login-button{
  display: block;
  padding: 10px 110px;
  margin-top: 20px;
  border: none;
  color: rgb(238, 228, 228);
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4158D0;
  width: 300px;
}

.login-button:hover{
  background-color: #0093E9;
}

#recaptcha{
  margin:25px 0px 0px 5px;
}