.report{
  padding: 30px 35px;
  background: #EDF1F5;
  width: calc(100vw-344px);
  min-height: 100vh;
  min-width: 650px;
}

.report-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.report-top h1{
  font-size: 2.2vw;
}

.report-top button{
  width: 160px;
  height: 46px;
  background-color: red;
  border: none;
  color: white;
  cursor: pointer;
}

.report-top button:hover{
  background-color: rgb(255, 138, 49);
}



.popup-inner{
  margin-top: 20px;
  margin-left: 10vw;
  border: solid 2px rgb(33, 65, 107);
  padding: 10vw 15vw;
  position: absolute;
  background-color: white;
  position: absolute;
}

.popup-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.popup-button{
  width: 180px;
  padding: 10px 10px;
  background-color: rgb(33, 65, 107);
  color: white;
  cursor: pointer;
}

.popup-close{
  width: 180px;
  background-color: red;
  border: navajowhite;
  padding: 10px;
  margin: 50px 0px 0px 100px;
  color: white;
  cursor: pointer;
  display: block;
}

.report-group{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.report-bottom table{
  width: 100%;
  background-color: white;
  margin-top: 20px;
}



.report-bottom table th{
  border: none;
}

.report-bottom table td{
  margin: auto;
  padding: 20px;
  text-align: center;
  font-size: 1.2vw;
}